name: Deploy to WordPress.org
on:
  push:
    tags:
    - "*"
jobs:
  build:
    name: Build and deploy
    runs-on: ubuntu-latest
    steps:
    - name: Git checkout
      uses: actions/checkout@master

    # - name: Composer install
    #   uses: php-actions/composer@v1

    - name: Composer install with PHP-Scoper
      uses: ./.github/actions/php-scoper

    - name: WordPress Plugin Deploy
      uses: 10up/action-wordpress-plugin-deploy@master
      env:
        SVN_PASSWORD: ${{ secrets.SVN_PASSWORD }}
        SVN_USERNAME: ${{ secrets.SVN_USERNAME }}
        SLUG: cf7-cleverreach-integration
